{% extends 'base.html.twig' %}
  
{% block title %}GeekFood About Us{% endblock %}

{% block body %}
<div class="title">
        <h1>À propos de nous</h1>
        <p>Vous voulez nous connaitre cette page est là pour ça si elle ne répond pas à vos questions, vous pouvez toujours nous contacter via la page contact et nous nous feront un plaisir de vous répondre</p>
    </div>
  <main>
        <div class="newsletters">
            <h4>Principe de GeekFood </h4>
            <p>Notre création est à la base inspirée par les réflexions d'un groupe d'amis passionnés de cuisine et de jeux vidéo. Un beau jour ils se sont dit pourquoi ne pas mélanger les deux? Voilà d'où est parti l'idée fondatrice.Le principe de la maison est simple nous proposons des recettes issues de la pop culture qui changent à chaque saison afin de proposer des produits les plus frais possible, nous avons également une démarche écoresponsable le restaurant et alimenté par des panneaux solaires et le soir une association vient récupérer tout notre éxedent d'afin de réduire les pertes aux minimum.
           De plus nous vous proposons également des consoles et des bornes d'arcade mise à votre disposition sans frais supplémentaires . Si vous trouvez mieux he biens ça n'arrivera pas .
            </p>
        </div>
        <div class="nav">
            <section>
                <h4>Notre équipe de choc</h4>
                <li>Benjamin Lafayette Sisko <p class="job"> (chef cuisinier)</p></li>
                <li>Sanji Fireleg <p class="job">(1er commis)</p></li>
                <li>Pierre Racailloux <p class="job">(2eme commis)</p></li>
                <li>Alfred Penyworth <p class="job">(chef de salle)</p></li>
                <li>Cichi Goku <p class="job">(serveuse)</p></li>
                <li>Yuna Bessaid <p class="job">(serveuse)</p></li>
                <li>Ghi Nhan <p class="job">(barmaid)</p></li>
                <li>Wrex Urdnot <p class="job">(vigile)</p></li>
                
            </section>
         
        </div>
    </main>
{% endblock %}
