{% extends 'base.html.twig' %}

{% block title %}GeekFood Mentions Légales{% endblock %}

{% block body %}
    <div class="title">
        <h1>Mentions Légales</h1>
        <p>La page obligatoire que personnes ne lit, enfin sauf vous.</p>
    </div>
    <main>
        <div class="newsletters">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore reprehenderit natus quis, aliquid at enim voluptatum et quo ex. Illum nihil qui voluptates amet eaque optio iure ut numquam molestias possimus. Cum temporibus cupiditate doloribus maiores distinctio! Aut deserunt eius sunt ullam unde pariatur sed est suscipit, soluta, maiores quibusdam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea accusantium placeat numquam ipsa nisi similique. Labore molestias provident necessitatibus delectus vel pariatur omnis accusamus distinctio, quos commodi maxime quis aperiam ratione, sed neque cupiditate quam, error magni iusto ipsa aliquid? Quibusdam placeat non error provident nostrum. Incidunt assumenda recusandae possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloremque facilis praesentium rem reiciendis est quidem placeat veritatis voluptates quo, ut numquam excepturi vero ipsa impedit, recusandae cum et similique harum quibusdam! Veritatis vero quia itaque delectus aut! Enim expedita cum eos praesentium quas officiis adipisci modi incidunt error rerum!
            </p>
        </div>
     
    </main>
{% endblock %}
