{% extends 'base.html.twig' %}

{% block title %}GeekFood Map{% endblock %}

{% block body %}
    <div class="title">
        <h1>Comment venir?</h1>
        <p>Vous ne savez pas comment venir on vous explique tout.</p>
    </div>
    <main>
        <div class="map">
            <section>
            <p>Notre adresse : 8 place d'ariane 77700 Serris </p>
                <img id="mapic" src="../images/map.png" alt="map picture">
                
            </section>
            <section>
                <h4>Itinéraires :</h4>
                <a href="https://www.google.fr/maps/dir//8+Place+d'Ariane,+Serris/@48.8554013,2.7724221,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47e61d283e37fb6b:0x5f5547bcd492a1db!2m2!1d2.7746108!2d48.8554013!3e3"> Transports</a>
                <a href="https://www.google.fr/maps/dir//8+Place+d'Ariane,+Serris/@48.8554013,2.7724221,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47e61d283e37fb6b:0x5f5547bcd492a1db!2m2!1d2.7746108!2d48.8554013!3e0">Voitures</a>
                <a href="https://www.google.fr/maps/dir//8+Place+d'Ariane,+Serris/@48.8554013,2.7724221,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47e61d283e37fb6b:0x5f5547bcd492a1db!2m2!1d2.7746108!2d48.8554013!3e2">A pieds</a>
            </section>
        </div>
    </main>
{% endblock %}
