{% extends 'baseback.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
<div class="backshow">
    <h1>Création d'un nouveau menu</h1>

    {{ include('backoffice/menu/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_menu_index') }}">Index</a>
    </div>
{% endblock %}
