{% extends 'baseback.html.twig' %}

{% block title %}New Drink{% endblock %}

{% block body %}
<div class="backshow">
    <h1>Création une nouvelle boisson</h1>

    {{ include('backoffice/drink/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_drink_index') }}">Index</a>
</div>
{% endblock %}
